.letter {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.letterhead { 
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.letterhead p {
    font-weight: bold;
}

.letterhead span {
    display: block;
}

.address {
    font-style: italic;
}

.main {
    font-family: 'Caveat', cursive;
    text-indent: 40px;
}

.main h1 {
    text-decoration: underline;
}

.main p {
    font-size: 1.3em; 
}

.bottom {
    font-family: 'Times New Roman', Times, serif;
}